<a href="https://colab.research.google.com/github/cesarrivera52/Evidencia3/blob/main/Evidencia3_RegresionCust4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#César Alejandro Rivera Guzmán  A01567012
#Evidencia 3
#Regresión 4
#Costumer

In [ ]:
#Cargamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.special as special
from scipy.optimize import curve_fit
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from google.colab import files
files.upload()

In [ ]:
data=pd.read_csv('consumer_limpio_4.csv')

In [ ]:
#Eliminar columnas innecesarias
datam1=data.drop(["Unnamed: 0","_record_id","_title","_server_updated_at","_geometry"],axis=1)

In [ ]:
datam1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 26 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   _updated_by                          115 non-null    object
 1   282_payment_method_that_purchase     115 non-null    object
 2   283_fulfill_needs                    115 non-null    object
 3   300_did_not_find                     115 non-null    object
 4   237_distance_household_interviewee   115 non-null    object
 5   299_means_transportation_consumer    115 non-null    object
 6   284_additional_products_store        115 non-null    object
 7   301_electricity_bill                 115 non-null    object
 8   305_electricity_bill_store           115 non-null    object
 9   302_water_bill                       115 non-null    object
 10  306_water_bill_store                 115 non-null    object
 11  303_gas_bill                         115 non-null    object
 12  307_gas_bill_store                   115 non-null    object
 13  286_topups                           115 non-null    object
 14  308_topups_in_store                  115 non-null    object
 15  287_wire_transfers                   115 non-null    object
 16  309_wiretransfers_in_store           115 non-null    object
 17  320_other_services_in_store          115 non-null    object
 18  304_additional_services_store        115 non-null    object
 19  238_frequency_buying_store           115 non-null    int64
 20  81_number_online_purchases_month     115 non-null    int64
 21  288_number_app_purchases_month       115 non-null    int64
 22  289_number_whatsapp_purchases_month  115 non-null    int64
 23  83_willingness_ultrafast_delivery    115 non-null    int64
 24  84_willingness_sameday_delivery      115 non-null    int64
 25  241_age_of_the_interviewee           115 non-null    int64
dtypes: int64(7), object(19)
memory usage: 23.5+ KB

In [ ]:
#Filtro para separar variables cuantitativas
fdatam_cual=datam1.iloc[:,0:18]

In [ ]:
#Filtro para separar variables cuantitativas
fdatam_cuan=datam1.iloc[:,19:25]

In [ ]:
#Cargar archivo csv desde seaborn
df=(fdatam_cuan)
df.head(5)

,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery
0,1,1,0,0,0,0
1,1,1,2,0,35,50
2,1,0,0,0,40,25
3,1,2,3,0,0,0
4,1,2,5,0,0,50

In [ ]:
#Cargar archivo csv desde seaborn
df2=(fdatam_cual)
df2.head(5)

,_updated_by,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,237_distance_household_interviewee,299_means_transportation_consumer,284_additional_products_store,301_electricity_bill,305_electricity_bill_store,302_water_bill,306_water_bill_store,303_gas_bill,307_gas_bill_store,286_topups,308_topups_in_store,287_wire_transfers,309_wiretransfers_in_store,320_other_services_in_store
0,Ulises Núñez Bautista,Efectivo,no,agua de coco,0 a 3 cuadras,A pie,no_data_additional_product,Tienda de conveniencia (e.g. OXXO),no,Sistema de agua,no,Proveedor de gas,no,No lo hago,no,Banco,no,no
1,Salomon Abdala Perez,Efectivo,yes,agua de coco,7 a 10 cuadras,A pie,no_data_additional_product,Tienda de conveniencia (e.g. OXXO),no,Sistema de agua,no,Proveedor de gas,no,Tienda de conveniencia (e.g. OXXO),no,Banco,no,no
2,Salomon Abdala Perez,Efectivo,yes,agua de coco,más de 10 cuadras,Automóvil,no_data_additional_product,CFE,yes,Tienda de conveniencia (e.g. OXXO),yes,Proveedor de gas,yes,"Supermercado,Tienda de conveniencia (e.g. OXXO)",yes,Banco,no,no
3,Jorge Alberto Ostorga Flores,Tarjeta de débito y/o crédito,yes,agua de coco,4 a 6 cuadras,Motocicleta,no_data_additional_product,Supermercado,no,Supermercado,no,Proveedor de gas,no,No lo hago,no,Banco,no,no
4,Jorge Alberto Ostorga Flores,Efectivo,yes,agua de coco,más de 10 cuadras,Transporte público,no_data_additional_product,CFE,no,Supermercado,no,Proveedor de gas,no,Supermercado,no,No lo hago,no,no

In [ ]:
#Declaramos las variables dependientes e independientes para la regresión Logística
Vars_Indep= df[['238_frequency_buying_store', '288_number_app_purchases_month', '83_willingness_ultrafast_delivery']]
Var_Dep= df2['306_water_bill_store']

In [ ]:
#Redefinimos las variables 
X= Vars_Indep
y= Var_Dep

In [ ]:
#Dividimos el conjunto de datos en la parte de entrenamiento y prueba:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state =None)

In [ ]:
#Se escalan todos los datos
escalar = StandardScaler()

In [ ]:
#Para realizar el escalamiento de las variables “X” tanto de entrenamiento como de prueba, utilizaremos fit_transform
X_train = escalar.fit_transform(X_train)
X_test = escalar.transform(X_test)

In [ ]:
#Definimos el algoritmo a utilizar
from sklearn.linear_model import LogisticRegression
algoritmo = LogisticRegression()

In [ ]:
#Entrenamos el modelo
algoritmo.fit(X_train, y_train)

LogisticRegression()

In [ ]:
#Realizamos una predicción
y_pred = algoritmo.predict(X_test) 
y_pred

array(['yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no'], dtype=object)

In [ ]:
#Verifico la matriz de Confusión
from sklearn.metrics import confusion_matrix
matriz = confusion_matrix(y_test, y_pred)
print('Matriz de Confusión:')
print(matriz)

Matriz de Confusión:
[[23  2]
 [ 9  1]]

In [ ]:
#Calculo la precisión del modelo
from sklearn.metrics import precision_score

precision = precision_score(y_test, y_pred, average="binary", pos_label="yes")
print('Precisión del modelo:')
print(precision)

Precisión del modelo:
0.3333333333333333

In [ ]:
#Calculo la exactitud del modelo
from sklearn.metrics import accuracy_score

exactitud = accuracy_score(y_test, y_pred)
print('Exactitud del modelo:')
print(exactitud)

Exactitud del modelo:
0.6857142857142857

In [ ]:
#Calculo la sensibilidad del modelo
from sklearn.metrics import recall_score

sensibilidad = recall_score(y_test, y_pred, average="binary", pos_label="yes")
print('Sensibilidad del modelo:')
print(sensibilidad)

Sensibilidad del modelo:
0.1

In [ ]:
# el puntaje F1 que es una combinación entre la precisión y la sensibilidad, para esto importamos f1_score.
#Calculo el Puntaje F1 del modelo
from sklearn.metrics import f1_score

puntajef1 = f1_score(y_test, y_pred, average="binary", pos_label="yes")
print('Puntaje F1 del modelo:')
print(puntajef1)

Puntaje F1 del modelo:
0.15384615384615383